#main-container {
    width: 100%;
    background-color: black;
}

#buttons-container {
    display: grid;
    grid-template-columns: 75% 25%;
}

#mode-btns {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10rem;
}

#operator-btns {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 10rem 10rem 10rem;
}

#number-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10rem 10rem 10rem 10rem;
}

.number {
    color: white;
    font-size: 3rem;
}

#parentheses-container {
    display: grid;
    grid-template-columns: auto auto;
}


.log-btn {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-decoration: none;
}
.log-btn:hover {
    background-color: rgb(53,53,53);
}

#zero > * {
    color: white;
    font-size: 3rem;
}

#zero {
    color: white;
    font-size: 3rem;
}