#main-container {
    width: 100%;
    background-color: black;
}

#buttons-container {
    display: grid;
    grid-template-columns: 75% 25%;
}

#mode-btns {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10rem;
}

#operator-btns {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 10rem 10rem 10rem;
}

#number-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10rem 10rem 10rem 10rem;
}

.number {
    color: white;
    font-size: 3rem;
}
